.navbar {
  height: var(--g-spacing-5x);
  padding-left: var(--g-spacing-2x);
  padding-right: var(--g-spacing-2x);

  align-items: center;
  column-gap: var(--g-spacing-2x);
  display: flex;
}
@media screen and (max-width: 480px) {
  .navbar {
    column-gap: var(--g-spacing-1x);
  }
}

.navbar .home-logo {
  width: var(--g-spacing-4x);

  display: inline-block;
}

.navbar .links {
  margin: 0;
  padding: 0;

  align-items: center;
  column-gap: var(--g-spacing-2x);
  display: flex;
  list-style-type: none;
}

.navbar .link {
  color: var(--g-color-text-black);
  display: inline-block;
  font-weight: var(--g-font-weight-regular);
  text-decoration: none;
}
.navbar .link:hover {
  text-decoration: underline;
}
.navbar .link:active {
  opacity: 0.75;
}
